# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build results
[Dd]ebug/
[Rr]elease/
x86/
x64/
build/
[Bb]in/
[Oo]bj/

# Dependencies
*.d

# Mac
.DS_Store

# Autosave files
*.asv

